<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon Favorit</title>
</head>
<body>
    <h1>Pokemon Favorit Kamu : {{namapokemon}}</h1>
    <h2>Rekomendasi Pokemon Untukmu :</h2>
    <h3>1.{{pokemon_lain[0]['name']}} </h3>
    <h4>2. {{pokemon_lain[1]['name']}}</h4>
    <h5>3. {{pokemon_lain[2]['name']}}</h5>
    <h6>4. {{pokemon_lain[3]['name']}}</h6>
    <h7>5. {{pokemon_lain[4]['name']}}</h7>
    <h8>6. {{pokemon_lain[5]['name']}}</h8>
</body>
</html>