<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon Favorit</title>
</head>
<body style="background-color: burlywood;">
    <h1>Pokemon Favorit Kamu : </h1>
    <h2>{{namapokemon}}<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{indexgambarr}}.png"></h2>
    <h3>Rekomendasi Pokemon Untukmu :</h3>
    <p>1.{{pokemon_lain[0]['name']}}, Type :{{pokemon_lain[0]['tipe']}}, Gen :{{pokemon_lain[0]['gen']}}, Legend :{{pokemon_lain[0]['legend']}}<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{index_pokemon_lain[0]}}.png"></p>
    <p>2.{{pokemon_lain[1]['name']}}, Type :{{pokemon_lain[1]['tipe']}}, Gen :{{pokemon_lain[1]['gen']}}, Legend :{{pokemon_lain[1]['legend']}}<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{index_pokemon_lain[1]}}.png"></p>
    <p>3.{{pokemon_lain[2]['name']}}, Type :{{pokemon_lain[2]['tipe']}}, Gen :{{pokemon_lain[2]['gen']}}, Legend :{{pokemon_lain[2]['legend']}}<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{index_pokemon_lain[2]}}.png"></p>
    <p>4.{{pokemon_lain[3]['name']}}, Type :{{pokemon_lain[3]['tipe']}}, Gen :{{pokemon_lain[3]['gen']}}, Legend :{{pokemon_lain[3]['legend']}}<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{index_pokemon_lain[3]}}.png"></p>
    <p>5.{{pokemon_lain[4]['name']}}, Type :{{pokemon_lain[4]['tipe']}}, Gen :{{pokemon_lain[4]['gen']}}, Legend :{{pokemon_lain[4]['legend']}}<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{index_pokemon_lain[4]}}.png"></p>
    <p>6.{{pokemon_lain[5]['name']}}, Type :{{pokemon_lain[5]['tipe']}}, Gen :{{pokemon_lain[5]['gen']}}, Legend :{{pokemon_lain[5]['legend']}}<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{index_pokemon_lain[5]}}.png"></p>
</body>
</html>